@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #f8f5fc;
    --foreground: #1c1333;

    /* Primary Palette */
    --primary-200: #d9c9f0;
    --primary-500: #845ec2;
    --primary-800: #4c2f8e;

    /* Secondary Palette */
    --secondary-200: #ecd5f5;
    --secondary-500: #bb7fd9;
    --secondary-800: #7d4c9e;

    /* Accent Palette */
    --accent-200: #f1e3fc;
    --accent-500: #ab86e5;
    --accent-800: #724bb2;

    /* Section Background */
    --section-bg: #ffffff;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    .dark {
      --background: #1c1333;
      --foreground: #e8e3f7;

      /* Dark Mode Primary Palette */
      --primary-200: #644ca4;
      --primary-500: #845ec2;
      --primary-800: #bea4e7;

      /* Dark Mode Secondary Palette */
      --secondary-200: #754e8f;
      --secondary-500: #9d6ab8;
      --secondary-800: #d6bae8;

      /* Dark Mode Accent Palette */
      --accent-200: #553282;
      --accent-500: #7a4ca8;
      --accent-800: #c0a4e5;

      /* Dark Mode Section Background */
      --section-bg: #2a213b;
    }
  }
}
